---
import BaseLayout from "../layouts/BaseLayout.astro";

import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---

<BaseLayout>
    <main class="px-10 py-10 space-y-10 flex flex-col items-center">
        {
            allProjects.map((project: any, index: number) => (
                <ProjectCard
                    project={project.data}
                    slug={project.id}
                    direction={
                        index % 2 === 0 ? "flex-row" : "flex-row-reverse"
                    }
                />
            ))
        }
    </main>
</BaseLayout>
