---
const pathname = Astro.url.pathname;
---


<nav class="flex justify-between items-center py-4 px-12 md:p-6 border-b border-gray-200 dark:border-gray-800 bg-gray-400 dark:bg-black/50 backdrop-blur-md sticky top-0 z-50">
  <div class="hidden md:inline text-lg md:text-xl font-mono font-bold text-lime-600 dark:text-cyan-400">
    <span>Developer portfolio</span> 
  </div>
  <ul class="flex flex-1 md:flex-none justify-between md:justify-end gap-6 font-mono">
    <li><a href="/" class=`${pathname === '/' ? 'text-lime-400 dark:text-cyan-400' : 'text-white'} hover:text-lime-400 dark:hover:text-cyan-400 transition`>Home</a></li>
    <li><a href="/projects" class=`${pathname.includes('projects') ? 'text-lime-400 dark:text-cyan-400' : 'text-white'} hover:text-lime-400 dark:hover:text-cyan-400 transition`>Projects</a></li>
    <li><a href="/contact" class=`${pathname === '/contact' ? 'text-lime-400 dark:text-cyan-400' : 'text-white'} hover:text-lime-400 dark:hover:text-cyan-400 transition`>Contact</a></li>
  </ul>
</nav>